@model IEnumerable<GroceryStore.Models.Sale>

@{
    ViewBag.Title = "SaleDetails";
}

<h2>Sale Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillDate)
        </th>
        <th> Edit </th>
        <th>Delete </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillDate)
            </td>
            <td>
                <span class="btn btn-danger">@Html.ActionLink("Edit", "Edit", new { id = item.id }) </span>
            </td>
            <td>
                <span class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.id })</span>
            </td>
        </tr>
    }

</table>






<a href="@Url.Action("Dashboard","Home")" class="btn btn-primary"> Back to Dashboard  </a>
